.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .divH{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar img {
    height: 100%;
  }
  
  .navbar input {
    font-family: monospace;
    max-width: 190px;
    outline: none;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f7fe;
    transition: .3s;
    color: #3b82f6;
    margin: 1rem;
  }

  .navbar input::placeholder{
    color: #3b82f6;
  }

  .navbar input:focus{
    border: 1px solid #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f
  }

  
  .navbar button {
    background: #7aebe4;
    font-family: inherit;
    padding: 0.2em 0.4em;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 0.8em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }

  .navbar button:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: white;
    
  }
  
  .navbar button:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
  .navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: #ccc;
  }
