.div1{
    background-image: url("https://fondosmil.com/fondo/37944.jpg");
    height: 100vh;/*view port height : medidas relativas*/
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    padding: 20px;
    text-align: center;
}

.title{
    text-align: left; 
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #1278BF; 
    text-shadow: 0px 0px 9px #508AD3;
}
.div2{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.link1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    cursor: pointer;  
}
